## 本内容是对kmer的内容进行深入的特征工程

In [1]:
# 导包
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

import os

In [2]:
# path
df_row_data_dir_path = os.path.abspath(os.path.dirname(os.path.dirname(os.getcwd())))

df_row_data_path1 = r'\new_data\kmer\train_1_meter.csv'
df_row_data_path2 = r'\new_data\kmer\train_2_meter.csv'
df_row_data_path3 = r'\new_data\kmer\train_3_meter.csv'
df_row_data_path4 = r'\new_data\kmer_gap\train3_gap_1_1_meter.csv'
df_row_data_path5 = r'\new_data\kmer_gap\train4_gap_1_1_meter.csv'
df_row_data_path6 = r'\new_data\kmer_gap\train4_gap_1_2_meter.csv'
df_row_data_path7 = r'\new_data\kmer_gap\train4_gap_2_1_meter.csv'

In [3]:
# 数据载入
df_data1 = pd.read_csv(df_row_data_dir_path+df_row_data_path1)
df_data2 = pd.read_csv(df_row_data_dir_path+df_row_data_path2).drop('label',axis = 1)
df_data3 = pd.read_csv(df_row_data_dir_path+df_row_data_path3).drop('label',axis = 1)
df_data4 = pd.read_csv(df_row_data_dir_path+df_row_data_path4).drop('label',axis = 1)
df_data5 = pd.read_csv(df_row_data_dir_path+df_row_data_path5).drop('label',axis = 1)
df_data6 = pd.read_csv(df_row_data_dir_path+df_row_data_path6).drop('label',axis = 1)
df_data7 = pd.read_csv(df_row_data_dir_path+df_row_data_path7).drop('label',axis = 1)

# 数据合并

In [4]:
# 将数据合并，前conmcat_num个数据合并
concat_num = 6
concat_list = [df_data1,df_data2,df_data3,df_data4,df_data5,df_data6,df_data7]
#concat_list = [df_data1,df_data2,df_data3, df_data3]

df_row_train = pd.concat(concat_list[:concat_num], axis = 1)

In [5]:
df_row_train.head()

,label,A,C,D,E,F,G,H,I,K,...,SD*V,TW*R,VK*Q,WR*C,EC*G,NL*U,CT*U,GG*R,PS*M,FW*A
0,1,6,1,12,15,9,9,2,8,22,...,0,0,0,0,0,0,0,0,0,0
1,1,63,2,46,80,27,58,13,62,76,...,0,0,0,0,0,0,0,0,0,0
2,1,14,7,5,11,3,5,0,6,13,...,0,0,0,0,0,0,0,0,0,0
3,1,14,1,3,9,3,12,3,9,6,...,0,0,0,0,0,0,0,0,0,0
4,1,2,0,16,15,5,3,0,9,13,...,0,0,0,0,0,0,0,0,0,0

In [6]:
df_data_label = df_row_train.label
df_data_features = df_row_train.drop('label',axis = 1)

In [7]:
df_data_features.head()

,A,C,D,E,F,G,H,I,K,L,...,SD*V,TW*R,VK*Q,WR*C,EC*G,NL*U,CT*U,GG*R,PS*M,FW*A
0,6,1,12,15,9,9,2,8,22,18,...,0,0,0,0,0,0,0,0,0,0
1,63,2,46,80,27,58,13,62,76,59,...,0,0,0,0,0,0,0,0,0,0
2,14,7,5,11,3,5,0,6,13,5,...,0,0,0,0,0,0,0,0,0,0
3,14,1,3,9,3,12,3,9,6,11,...,0,0,0,0,0,0,0,0,0,0
4,2,0,16,15,5,3,0,9,13,8,...,0,0,0,0,0,0,0,0,0,0

# 特征工程

In [8]:
from sklearn.feature_selection import VarianceThreshold, SelectPercentile
from sklearn.feature_selection import chi2

# 方差选择法，返回值为特征选择后的数据，参数threshold为方差的阈值

#selector = VarianceThreshold(threshold =5)
#new_data = selector.fit_transform(df_data_features)

selector = SelectPercentile(chi2,percentile=10)
new_data = selector.fit_transform(df_data_features, df_data_label)

new_data.shape

(1708, 3294)

In [9]:
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [10]:
train_X,test_X,train_Y,test_Y=train_test_split(new_data,df_data_label, test_size=0.1, random_state=0)

## 2. Model Predict